.c-tooltip {
    position: relative;

    .c-tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: color(secondary, 2);
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
       
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1; 
      }
      
      &:hover .c-tooltiptext {
        visibility: visible;
      }
}