.c-circular-portrait {
    position: relative;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 50%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  }
  