*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html { font-size: 100%; }

body {
  background-color: color(primary, 2);
  //font-family: $font-stack;
  font-size: rem($base-size);
  min-height: 100vh;
  width: 100%;
  @include flexbox();
  font-family: assistant;
}

a {
  text-decoration: none;
  color: color(primary, 2);
}

ul {
  margin-left: 16px;
}

