@include font-face(source_sans_pro, './../../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
@include font-face(source_sans_pro_bold, './../../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
@include font-face(assistant, './../../assets/fonts/Assistant/static/Assistant-Regular.ttf');
@include font-face(assistant_extra_light, './../../assets/fonts/Assistant/static/Assistant-ExtraLight.ttf');
@include font-face(glacial_indifference, './../../assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf');
@include font-face(glacial_indifference_bold, './../../assets/fonts/glacial-indifference/GlacialIndifference-Bold.otf');


